<ion-view view-title="Movimientos">

<div class="bar bar-subheader 
  item-input-inset bar-light">
  <label class="item-input-wrapper">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="search" ng-model="query" placeholder="Search">
  </label>
</div>

<ion-content class="has-subheader">
<div>
  <div class="card">
  <div class="item item-text-wrap">
    <h2> Nombre de Producto: {{producto.nombre}}</h2>
    Tipo Producto: {{producto.tipo}}
    <br>
    Saldo: {{producto.saldo | currency}}
  </div>
</div>
  <ion-list>
    <ion-item class="item-text-wrap item-icon-right"
    ng-repeat='movimiento in movimientos'>
      <h2>Fecha Movimiento: {{movimiento.date}}</h2>
       <h3>Descripción:</h3><p>{{movimiento.description}}</p>
      <h4>Valor:{{movimiento.value | currency}}</h4>
    </ion-item>
  </ion-list>
</div>
</ion-content>
</ion-view>