<ion-view title="Login">

    <!-- <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>

     -->
    <ion-content ng-controller="google">
            <br/><br/><br/><br/>
            <div style="width: 100%;text-align: center">
                <button ng-click="login();" class="button">
                    Login Via Google
                </button>                        
                <br/>
                <pre>
                {{google_data|json}}
                </pre>
            </div>
        </ion-content>
            <a href="#app/lista_productos" class="button button-positive button-block ">Log in</a>

            <a href="#/registro" class="button button-positive button-clear button-block ">Crea una cuenta</a>
        </form>
    </ion-content>
</ion-view>