<ion-view title="Login">

  <ion-content padding="true" class="has-header" ng-controller="google">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>

     
    

        
            <a href="#app/lista_productos" class="button button-positive button-block " ng-click="login();">Log in with google</a>
    
        </form>

       <!-- <br/>
                <pre>
                {{google_data|json}}

                <img src={{google_data.picture}}>
                </pre>
    -->
    </ion-content>
</ion-view>

