<!--<ion-view title="Nuevo Producto">
    <ion-content padding="true" scroll="false" class="has-header">
        <form class="list" ng-submit="send()" method="post">
            <ion-list>
                <label class="item item-input item-select"  >
                    <div class="input-label" >
                      Nombre de Producto
                    </div>
                    <select ng-model="producto" ng-change="showSelectValue(producto)" >
                      <option ng-repeat="producto in productos">{{producto.name}}</option>
                    </select>
                </label>
                <label class="item item-input item-select"  >
                    <div class="input-label" >
                      Tipo de Producto
                    </div>
                    <select ng-model="tipo_producto" ng-change="showSelectValue(tipo_producto)" >
                      <option ng-repeat="producto in productos">{{producto.name}}</option>
                    </select>
                </label>
                 <label class="item item-input">
                    <span class="input-label">Cupo</span>
                    <input type="text" placeholder="Ingrese Cupo" ng-model="formProduct.cupo" name="cupo">
                </label>
            </ion-list>
            <button class="button button-positive button-block ">Enviar</button>
        </form>
    </ion-content>
</ion-view>-->
<ion-view title="Solicitar Producto">
  <ion-content class="has-header">
  <form ng-submit="save()" method="post">
    <div class="list">

        <label class="item item-input item-select">
            <div class="input-label">
            Producto
            </div>
            <select ng-model="formProduct.product" name="product" ng-change="showSelectValue(formProduct.product)">
                <option  ng-repeat="product in products">{{product.productName}}</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
            Tipo de Producto
            </div>
            <select ng-model="formProduct.type" name="type">
               <option  ng-repeat="type in productTypes">{{type.productType}}</option>
            </select>
        </label>

        <label class="item item-input item-stacked-label">
        <span class="input-label">Cupo</span>
        <input type="number" placeholder="52652.." ng-model="formProduct.cupo" name="cupo">
        </label>
        <button class="button button-block button-positive">Enviar!</button>
    </div>
  </form>
  </ion-content>
</ion-view>